[submodule "doc/01"]
	path = doc/01
	url = C:/Users/mail/OneDrive/Dokumente/IntelliJ/DB2/base-project
[submodule "doc/02"]
	path = doc/02
	url = C:/Users/mail/OneDrive/Dokumente/IntelliJ/DB2/base-project
[submodule "doc/03"]
	path = doc/03
	url = C:/Users/mail/OneDrive/Dokumente/IntelliJ/DB2/base-project
[submodule "doc/04"]
	path = doc/04
	url = C:/Users/mail/OneDrive/Dokumente/IntelliJ/DB2/base-project
[submodule "doc/05"]
	path = doc/05
	url = C:/Users/mail/OneDrive/Dokumente/IntelliJ/DB2/base-project
